<% content_for :head do %>
  <title>Stream - <%= @fancy_title %></title>
<% end %>

<%# TODO: use @scape_media to scrape for streams %>
<%# !: for now I am just going to be using vidsrc.to because its easier to implement %>

<% if @media.type == 'movie' %>
  <iframe src="https://vidsrc.to/embed/movie/<%= @scrape_media.tmdbId %>"></iframe>
<% else %>
  <iframe src="https://vidsrc.to/embed/tv/<%= "#{@scrape_media.tmdbId}/#{params[:s]}/#{params[:e]}" %>"></iframe>
<% end %>

<h1>
  <%= @fancy_title %>
</h1>

<% if @media.type == 'show' %>
  <select onchange='Turbo.visit(`/show/<%= params[:id] %>/${this.value}/1`)'>
    <%= options_for_select(@media.seasons.map { |s| s.fetch_values('name', 'season_number') }, params[:s]) %>
  </select>

  <select onchange='Turbo.visit(`/show/<%= "#{params[:id]}/#{params[:s]}" %>/${this.value}`)'>
    <%= options_for_select(@season.episodes.map { |e| ["#{e.episode_number} - #{e.name}", e.episode_number] }, params[:e]) %>
  </select>
<% end %>

<details>
  <summary><h2>Debug Info:</h2></summary>

  <details>
    <summary><h3>Media Info:</h3></summary>
    <pre><%= JSON.pretty_generate(@media.except!(:seasons)) %></pre>
  </details>

  <% if @media.type == 'show' %>
    <details>
      <summary><h3>Season Info:</h3></summary>
      <pre><%= JSON.pretty_generate(@season.except!('episodes')) %></pre>
    </details>

    <details>
      <summary><h3>Episode Info:</h3></summary>
      <pre><%= JSON.pretty_generate(@episode.except!('crew', 'guest_stars')) %></pre>
    </details>
  <% end %>

  <details>
    <summary><h3>Scrape Media:</h3></summary>
    <pre><%= JSON.pretty_generate(@scrape_media) %></pre>
  </details>
</details>