<% content_for :head do %>
  <title>Stream - <%= @fancy_title %></title>
<% end %>

<div x-data x-init='$store.player.clear(); getStreams(<%= @scrape_media.to_json.html_safe %>)'>
  <video id="player" controls>
    <template x-for="caption in $store.player.stream.captions">
      <track
        :label="caption.language"
        :srclang="caption.language"
        :src="caption.url">
    </template>
  </video>

  <select @change="$store.player.setStream($el.value)">
    <template x-for="(stream, i) in $store.player.streams">
      <option x-text="stream.name" :value="i"></option>
    </template>
  </select>
  <select @change="$store.player.setQuality($el.value)">
    <template x-for="(name, i) in $store.player.qualities">
      <option x-text="name" :value="i" :selected="i === $store.player.qualityIndex"></option>
    </template>
  </select>

  <% if @media.type == 'show' %>
    <select onchange='Turbo.visit(`/show/<%= params[:id] %>/${this.value}/1`)'>
      <%= options_for_select(@media.seasons.map { |s| s.fetch_values('name', 'season_number') }, params[:s]) %>
    </select>

    <select onchange='Turbo.visit(`/show/<%= "#{params[:id]}/#{params[:s]}" %>/${this.value}`)'>
      <%= options_for_select(@season.episodes.map { |e| ["#{e.episode_number} - #{e.name}", e.episode_number] }, params[:e]) %>
    </select>
  <% end %>
</div>

<h1>
  <%= @fancy_title %>
</h1>

<%= link_to "â† return home", root_path %>

<details>
  <summary><h2>Debug Info:</h2></summary>

  <details>
    <summary><h3>Media Info:</h3></summary>
    <pre><%= JSON.pretty_generate(@media.except!(:seasons)) %></pre>
  </details>

  <% if @media.type == 'show' %>
    <details>
      <summary><h3>Season Info:</h3></summary>
      <pre><%= JSON.pretty_generate(@season.except!('episodes')) %></pre>
    </details>

    <details>
      <summary><h3>Episode Info:</h3></summary>
      <pre><%= JSON.pretty_generate(@episode.except!('crew', 'guest_stars')) %></pre>
    </details>
  <% end %>

  <details>
    <summary><h3>Scrape Media:</h3></summary>
    <pre><%= JSON.pretty_generate(@scrape_media) %></pre>
  </details>
</details>
